.gr-arrow, .gr-arrow::before {
  transition: background 250ms ease-in-out;
  position: absolute;
  width: calc(10px - var(--popper-theme-border-width, 0px));
  height: calc(10px - var(--popper-theme-border-width, 0px));
  box-sizing: border-box;
  background: var(--popper-theme-background-color);
}
.gr-arrow {
  visibility: hidden;
  &::before {
    visibility: visible;
    content: "";
    transform: rotate(45deg);
  }
  &[data-popper-placement^="top"]{
    > .gr-arrow {
      bottom: -5px;
      &::before {
        border-right: var(--popper-theme-border-width)
        var(--popper-theme-border-style) var(--popper-theme-border-color);
        border-bottom: var(--popper-theme-border-width)
        var(--popper-theme-border-style) var(--popper-theme-border-color);
      }
    }
  }
  &[data-popper-placement^="bottom"] {
    > .gr-arrow {
      top: -5px;
      &::before {
        border-left: var(--popper-theme-border-width)
        var(--popper-theme-border-style) var(--popper-theme-border-color);
        border-top: var(--popper-theme-border-width)
        var(--popper-theme-border-style) var(--popper-theme-border-color);
      }
    }
  }
  &[data-popper-placement^="left"] {
    > .gr-arrow {
      right: -5px;
      &::before {
        border-right: var(--popper-theme-border-width)
        var(--popper-theme-border-style) var(--popper-theme-border-color);
        border-top: var(--popper-theme-border-width)
        var(--popper-theme-border-style) var(--popper-theme-border-color);
      }
    }
  }
  &[data-popper-placement^="right"] {
    > .gr-arrow {
      left: -5px;
    }
  }
}
