html{
    --primary-color:#409eff;
    --warn-color:#e6a23c;
    --error-color:#f56c6c;
    --info-color:#909399;
    --success-color:#67c23a;
    --default-border-color:#dcdfe6;
    --default-text-color:#606266;
}
