$primary-color:var(--primary-color);
$warn-color:var(--warn-color);
$error-color:var(--error-color);
$success-color:var(--success-color);
$info-color:var(--info-color);
$default-border-color:var(--default-border-color);
$default-text-color:var(--default-text-color);
